@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.logo{
    display: flex;
}

.numCart{
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-left: 6px;
}

.botonesCarrito{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.navlink:hover{
    color:grey;
}

.linkdropdown:hover{
    color: grey;
}

.logo h2{
    margin-top: 7px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.image-slider {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    max-height: 100%;
}

.footlink{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  width: 50%;
  margin-bottom: 10px;
  text-decoration:none;
}

.footlink:hover{
    color:grey;
}

